<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>344469868949-an1cb30trkgj1a6d9785rus5jcbngsql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344469868949-an1cb30trkgj1a6d9785rus5jcbngsql</string>
	<key>API_KEY</key>
	<string>AIzaSyCct29ANE9bjCH9rIsqQ9K8CEaOTL7mXac</string>
	<key>GCM_SENDER_ID</key>
	<string>344469868949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bypeople.genericdev</string>
	<key>PROJECT_ID</key>
	<string>bypt-chat-app</string>
	<key>STORAGE_BUCKET</key>
	<string>bypt-chat-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:344469868949:ios:37eac2db5c47e92f</string>
	<key>DATABASE_URL</key>
	<string>https://bypt-chat-app.firebaseio.com</string>
</dict>
</plist>